/MyCar/obj/Debug/
/.vs/MyCar.API/FileContextIndex/
/.vs/MyCar.API/v17/
/MyCar/obj/MyCar.csproj.nuget.g.targets
/.vs/ProjectEvaluation
/.vs/MyCar.API/FileContentIndex/c33d3fe0-7cc3-4b1c-9976-d5fe70c28b24.vsidx
